@media (max-width: 990px),
(min-width: 768px) {
    #navbar {
        display: none;
    }

    /* #responsive-navbar {
        display: block !important;
    } */

    #responsive-navbar {
        padding: 0.5rem 19px;
        height: 122px;
        background-color: #ecf0f3;
    }
}

@media(max-width: 768px) {
    :root {
        --primary-color: #fff;
        --secondary-color: #ff014f;
        --heading-color: #3c3e41;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    #resume-button {
        margin-top: 2rem;
    }

    #navbar {
        padding: 0.5rem 16px;
    }

    .navbar-toggler {
        background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;
        box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff !important;
    }

    #navbar {
        display: none;
    }

    #responsive-navbar {
        padding: 0.5rem 19px;
        height: 122px;
        background-color: #ecf0f3;
    }

    .sticky {
        box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    }

    #responsive-close-btn {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    }

    #responsive-nav li {
        margin: 5px 10px;
    }

    #responsive-nav li .nav-link {
        padding: .5rem 0;
    }

    .find-me-heading p {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.55);
        margin-top: 5.125rem;
    }

    .find-me-icons {
        display: flex;
        justify-content: space-evenly;
    }

    .find-me-icons a {
        display: block;
        width: 53px;
        height: 53px;
        line-height: 53px;
        text-align: center;
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
        border-radius: 6px;
    }

    .find-me-icons img {
        width: 24px;
        height: 24px;
        border-color: var(--secondary-color);
    }

    .hero-container>.row:first-child {
        display: flex;
        flex-direction: column-reverse;
    }







}

/* -------------------------------- media 425px -------------------------------- */
@media(max-width: 426px) {
    a {
        text-decoration: none !important;
    }

    li {
        list-style: none;
    }

    .bounce p {
        font-size: 14px;
    }

    .bounce .bounce-text {
        font-size: 32px;
    }

    .type-writter li {
        font-size: 26px;
    }

    .type-writter {
        margin-top: -4px;
    }

    .bounce>p:first-child {
        font-size: 14px;
        font-weight: 500;
    }

    .bounce .my-description {
        font-size: 1.1rem;
    }

    .find-me-text {
        margin: 0 0 1rem 38px;
    }

    .best-skills {
        justify-content: space-around;
    }

    #read-more {
        border: none;
        background-color: transparent;
        color: #ff014f;
    }

    .show1 {
        display: none;
    }

    .about-heading {
        font-size: 32px !important;
    }
}




/* ------------------------------ meadia 375px ------------------------------ */

@media(max-width: 376px) {
    #responsive-navbar {
        padding: 0.5rem 10px;
    }

    .bounce-text {
        font-size: 22px !important;
    }

    .static-text>.bounce-text:first-child {
        font-size: 32px !important;
    }

    .find-me-text {
        margin: 0 0 1rem 28px;
    }

    .service-box {
        width: 100%;
        height: max-content;
    }
}